@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .btnCustom {
        background-color: #667eea;
        color: white;
        margin-right: .5rem;
    }

    .btnCustom:hover {
        color: white;
        background-color: #764ba2;
    }
</style>

<!-- Modal Agregar Articulo -->
<div class="modal fade" id="AddArticle" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nuevo Articulo</h5>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Precio</span>
                    <span class="input-group-text" style="color: #005c1c; background-color: #FFFFFF;">$</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Cant. en Stock</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupSelect01">Categorias</label>
                    <select class="form-select" id="inputGroupSelect01">
                        <option selected>Elige una categoria ...</option>
                        <option value="1">Remeras</option>
                        <option value="2">Pantalones</option>
                        <option value="3">Calzas</option>
                        <option value="4">Tops</option>
                    </select>
                </div>
                <hr />
                <div class="mb-3">
                    <label for="formFileSm" class="form-label">Imagen del producto</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="file" accpet="image/*" multiple>
                </div>
                <div class="mb-3">
                    <label for="formFileSm" class="form-label">Preview del producto</label>
                    <input class="form-control form-control-sm" id="formFileSm" type="file" accpet="image/*" multiple>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Agregar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Agregar Categoria -->
<div class="modal fade" id="AddCategory" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nueva Categoria</h5>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Nombre</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Agregar</button>
            </div>
        </div>
    </div>
</div>

<hr style="margin: 2%; color: #F7F7F7;" />

<h3> Registros </h3>

<hr style="margin: 1%; color: #F7F7F7;" />

<button type="button"data-bs-toggle="modal" data-bs-target="#AddArticle" class="btn btnCustom"> <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18" height="18" viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-size="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M80.625,10.75c-38.50683,0 -69.875,31.36817 -69.875,69.875c0,38.50683 31.36817,69.875 69.875,69.875c38.50683,0 69.875,-31.36817 69.875,-69.875c0,-38.50683 -31.36817,-69.875 -69.875,-69.875zM80.625,21.5c32.71192,0 59.125,26.41308 59.125,59.125c0,32.71192 -26.41308,59.125 -59.125,59.125c-32.71192,0 -59.125,-26.41308 -59.125,-59.125c0,-32.71192 26.41308,-59.125 59.125,-59.125zM75.25,53.75v21.5h-21.5v10.75h21.5v21.5h10.75v-21.5h21.5v-10.75h-21.5v-21.5z"></path></g></g></svg> Articulo </button>
<button type="button"data-bs-toggle="modal" data-bs-target="#AddCategory" class="btn btnCustom"> <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18" height="18" viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-size="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M80.625,10.75c-38.50683,0 -69.875,31.36817 -69.875,69.875c0,38.50683 31.36817,69.875 69.875,69.875c38.50683,0 69.875,-31.36817 69.875,-69.875c0,-38.50683 -31.36817,-69.875 -69.875,-69.875zM80.625,21.5c32.71192,0 59.125,26.41308 59.125,59.125c0,32.71192 -26.41308,59.125 -59.125,59.125c-32.71192,0 -59.125,-26.41308 -59.125,-59.125c0,-32.71192 26.41308,-59.125 59.125,-59.125zM75.25,53.75v21.5h-21.5v10.75h21.5v21.5h10.75v-21.5h21.5v-10.75h-21.5v-21.5z"></path></g></g></svg> Categoria </button>

<hr style="margin: 1%; color: #F7F7F7;" />

<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <img src="https://img.icons8.com/small/16/000000/list.png" style="margin-right: 2%;"/> Articulos
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="max-height: 350px; overflow-y: scroll; overflow-x: hidden;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Articulo</th>
                            <th scope="col">Valor ud.</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Categoria</th>
                            <th scope="col" style="max-width: 2rem; width: 15%;">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Articulo Uno</td>
                            <td>$500</td>
                            <td>200</td>
                            <td>Pantalones</td>
                            <td>
                                <div>
                                    <button class="btn btn-sm"> <img src="https://img.icons8.com/small/16/000000/trash--v1.png" /> </button>
                                    <button class="btn btn-sm"> <img src="https://img.icons8.com/small/16/000000/edit.png" /> </button>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="https://img.icons8.com/small/16/000000/more.png" />
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><img src="https://img.icons8.com/small/16/000000/zoom-in.png" /> Ver Imagen </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Articulo Dos</td>
                            <td>$150</td>
                            <td>100</td>
                            <td>Tops</td>
                            <td>
                                <div>
                                    <button class="btn btn-sm"> <img src="https://img.icons8.com/small/16/000000/trash--v1.png" /> </button>
                                    <button class="btn btn-sm"> <img src="https://img.icons8.com/small/16/000000/edit.png" /> </button>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="https://img.icons8.com/small/16/000000/more.png" />
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><img src="https://img.icons8.com/small/16/000000/zoom-in.png" /> Ver Imagen </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Articulo Tres</td>
                            <td>$200</td>
                            <td>50</td>
                            <td>Remeras</td>
                            <td>
                                <div>
                                    <button class="btn btn-sm"> <img src="https://img.icons8.com/small/16/000000/trash--v1.png" /> </button>
                                    <button class="btn btn-sm"> <img src="https://img.icons8.com/small/16/000000/edit.png" /> </button>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            <img src="https://img.icons8.com/small/16/000000/more.png" />
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><img src="https://img.icons8.com/small/16/000000/zoom-in.png" /> Ver Imagen </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <img src="https://img.icons8.com/small/16/000000/list.png" style="margin-right: 2%;"/> Categorias
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body" style="max-height: 350px; overflow-y: scroll; overflow-x: hidden;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Cant. Articulos</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Remeras</td>
                            <td>510</td>
                            <td>
                                <div>
                                    <button class="btn btn-sm"> <img src="https://img.icons8.com/small/16/000000/trash--v1.png" /> </button>
                                    <button class="btn btn-sm"> <img src="https://img.icons8.com/small/16/000000/edit.png" /> </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Calzas</td>
                            <td>230</td>
                            <td>
                                <div>
                                    <button class="btn btn-sm"> <img src="https://img.icons8.com/small/16/000000/trash--v1.png" /> </button>
                                    <button class="btn btn-sm"> <img src="https://img.icons8.com/small/16/000000/edit.png" /> </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Tops</td>
                            <td>45</td>
                            <td>
                                <div>
                                    <button class="btn btn-sm"> <img src="https://img.icons8.com/small/16/000000/trash--v1.png" /> </button>
                                    <button class="btn btn-sm"> <img src="https://img.icons8.com/small/16/000000/edit.png" /> </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>