@{
    ViewData["Title"] = "Home Page";
}

<center>

    <!-- Main Carrousel -->
    <div class="text-center user-select-none">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Imagenes/SampleCarrousel.png" class="d-block rounded img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Imagenes/SampleCarrousel.png" class="d-block rounded img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Imagenes/SampleCarrousel.png" class="d-block rounded img-fluid" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <a href="#gamespandp" data-slide="prev" class="btn btn-outline-secondary btn-sm">&#10094;</a>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <a href="#gamespandp" data-slide="next" class="btn btn-outline-secondary btn-sm">&#10095;</a>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <br />

    <!-- Main Cards -->
    <div class="row align-items-center justify-content-center user-select-none" style="margin: 5%; padding: 2%; background-image: radial-gradient(circle 400px at center, #F7F7F7 0%, #FFFFFF 10%, #F7F7F7 100%);)">
        <!-- Card 1 -->
        <div class="card mb-3 col container-fluid" style="max-width: 400px; max-height: 300px; margin: 1%">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://img.icons8.com/material-rounded/100/000000/security-checked.png" alt="..." width="50" height="50" style="margin-top: 13%">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title"> Pago seguro </h5>
                        <p class="card-text"> Pagos 100% seguros </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="card mb-3 col container-fluid" style="max-width: 400px; max-height: 300px; margin: 1%">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://img.icons8.com/ios-filled/100/000000/gift--v1.png" alt="..." width="45" height="45" style="margin-top: 13%">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">Tarjetas de regalo</h5>
                        <p class="card-text">Haz el regalo perfecto</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- New Products Cards-->
    <h2 class="user-select-none">Prendas nuevas</h2>

    <br />

    <div class="row align-items-center justify-content-center user-select-none">
        <!-- Product 1 -->
        <div class="card col" style="max-width: 300px; margin: 2%">
            <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <!-- Product 2 -->
        <div class="card col" style="max-width: 300px; margin: 2%">
            <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <!-- Product 3 -->
        <div class="card col" style="max-width: 300px; margin: 2%">
            <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <!-- Product 4 -->
        <div class="card col" style="max-width: 300px; margin: 2%">
            <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

    <hr style="margin: 5%; color: #F7F7F7;"/>

    <!-- Discount Products Cards-->
    <h2 class="user-select-none">Prendas en descuento</h2>

    <br />

    <div class="row align-items-center justify-content-center user-select-none">
        <!-- Product 1 -->
        <div class="card col" style="max-width: 300px; margin: 2%">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> -50% <span class="visually-hidden">Discount</span></span>
            <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <!-- Product 2 -->
        <div class="card col" style="max-width: 300px; margin: 2%">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> -75% <span class="visually-hidden">Discount</span></span>
            <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <!-- Product 3 -->
        <div class="card col" style="max-width: 300px; margin: 2%">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> -20% <span class="visually-hidden">Discount</span></span>
            <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <!-- Product 4 -->
        <div class="card col" style="max-width: 300px; margin: 2%">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> -10% <span class="visually-hidden">Discount</span></span>
            <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

</center>