@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<center>

    <!-- Main Carrousel -->
    <div class="text-center user-select-none">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Imagenes/SampleCarrousel.png" class="d-block rounded img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Imagenes/SampleCarrousel.png" class="d-block rounded img-fluid" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Imagenes/SampleCarrousel.png" class="d-block rounded img-fluid" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span href="#gamespandp" data-slide="prev" class="btn btn-outline-secondary btn-sm">&#10094;</span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span href="#gamespandp" data-slide="next" class="btn btn-outline-secondary btn-sm">&#10095;</span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <br />

    <!-- Main Cards -->
    <div class="row align-items-center justify-content-center user-select-none" style="margin: 5%; padding: 2%;">
        <!-- Card 1 -->
        <div class="card mb-3 col container-fluid" style="max-width: 400px; max-height: 300px; margin: 1%">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://img.icons8.com/material-rounded/100/000000/security-checked.png" alt="..." width="50" height="50" style="margin-top: 13%">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title"> Pago seguro </h5>
                        <p class="card-text"> Pagos 100% seguros </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="card mb-3 col container-fluid" style="max-width: 400px; max-height: 300px; margin: 1%">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://img.icons8.com/ios-filled/100/000000/gift--v1.png" alt="..." width="45" height="45" style="margin-top: 13%">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <h5 class="card-title">Tarjetas de regalo</h5>
                        <p class="card-text">Haz el regalo perfecto</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- New Products Cards-->
    <h2 class="user-select-none">Prendas nuevas</h2>

    <br />

    <div class="row align-items-center justify-content-center user-select-none">
        <!-- Product 1 -->
        <div class="card col" style="max-width: 300px; margin: 2%">
            <center><img src="https://via.placeholder.com/250x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn" style="background-color: #667eea; color: white;">Ver <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="16" height="16"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g id="original-icon" fill="#ffffff"><path d="M112.875,10.75c-26.66504,0 -48.375,21.70996 -48.375,48.375c0,11.37989 4.11524,21.75196 10.75,30.02442l-53.49804,53.49804l7.55859,7.64258l53.54003,-53.54004c8.27247,6.63477 18.64453,10.75 30.02442,10.75c26.66504,0 48.375,-21.70996 48.375,-48.375c0,-26.66504 -21.70996,-48.375 -48.375,-48.375zM112.875,21.5c20.82813,0 37.625,16.79688 37.625,37.625c0,20.82813 -16.79687,37.625 -37.625,37.625c-20.82812,0 -37.625,-16.79687 -37.625,-37.625c0,-20.82812 16.79688,-37.625 37.625,-37.625z"></path></g></g></svg></button>
                <button class="btn" style="background-color: #667eea; color: white;">Agregar <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="16" height="16"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M10.75,10.75v10.75h21.5c2.30957,0 4.28321,1.51172 5.03906,3.69531l10.03614,89.52734c0.92382,8.14649 7.89453,14.31933 16.04101,14.31933c-5.45898,0.5879 -9.61621,5.20703 -9.61621,10.70801c0,5.9209 4.8291,10.75 10.75,10.75c5.9209,0 10.75,-4.8291 10.75,-10.75c0,-5.50098 -4.19922,-10.12011 -9.6582,-10.70801h51.52441c-5.45898,0.5879 -9.61621,5.20703 -9.61621,10.70801c0,5.9209 4.8291,10.75 10.75,10.75c5.9209,0 10.75,-4.8291 10.75,-10.75c0,-5.50098 -4.19922,-10.12011 -9.7002,-10.70801h9.7002v-10.75h-65.63379c-2.77148,0 -5.03906,-1.97362 -5.333,-4.74511l-0.67187,-6.04687h68.19531c7.64257,0 14.31933,-5.45898 15.83105,-12.93359l10.28808,-51.56641h-11.92578v4.87109l-8.90234,44.55371c-0.5459,2.56153 -2.6875,4.3252 -5.29101,4.3252h-69.45508l-8.31445,-74.1582l-0.16797,-0.50391c-2.05763,-6.71875 -8.31446,-11.3379 -15.36915,-11.3379zM86,21.5v21.5h-21.5v10.75h21.5v21.5h10.75v-21.5h21.5v-10.75h-21.5v-21.5z"></path></g></g></svg></button>
            </div>
        </div>
        <!-- Product 2 -->
        <div class="card col" style="max-width: 300px; margin: 2%">
            <center><img src="https://via.placeholder.com/250x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn" style="background-color: #667eea; color: white;">Ver <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="16" height="16"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g id="original-icon" fill="#ffffff"><path d="M112.875,10.75c-26.66504,0 -48.375,21.70996 -48.375,48.375c0,11.37989 4.11524,21.75196 10.75,30.02442l-53.49804,53.49804l7.55859,7.64258l53.54003,-53.54004c8.27247,6.63477 18.64453,10.75 30.02442,10.75c26.66504,0 48.375,-21.70996 48.375,-48.375c0,-26.66504 -21.70996,-48.375 -48.375,-48.375zM112.875,21.5c20.82813,0 37.625,16.79688 37.625,37.625c0,20.82813 -16.79687,37.625 -37.625,37.625c-20.82812,0 -37.625,-16.79687 -37.625,-37.625c0,-20.82812 16.79688,-37.625 37.625,-37.625z"></path></g></g></svg></button>
                <button class="btn" style="background-color: #667eea; color: white;">Agregar <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="16" height="16"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M10.75,10.75v10.75h21.5c2.30957,0 4.28321,1.51172 5.03906,3.69531l10.03614,89.52734c0.92382,8.14649 7.89453,14.31933 16.04101,14.31933c-5.45898,0.5879 -9.61621,5.20703 -9.61621,10.70801c0,5.9209 4.8291,10.75 10.75,10.75c5.9209,0 10.75,-4.8291 10.75,-10.75c0,-5.50098 -4.19922,-10.12011 -9.6582,-10.70801h51.52441c-5.45898,0.5879 -9.61621,5.20703 -9.61621,10.70801c0,5.9209 4.8291,10.75 10.75,10.75c5.9209,0 10.75,-4.8291 10.75,-10.75c0,-5.50098 -4.19922,-10.12011 -9.7002,-10.70801h9.7002v-10.75h-65.63379c-2.77148,0 -5.03906,-1.97362 -5.333,-4.74511l-0.67187,-6.04687h68.19531c7.64257,0 14.31933,-5.45898 15.83105,-12.93359l10.28808,-51.56641h-11.92578v4.87109l-8.90234,44.55371c-0.5459,2.56153 -2.6875,4.3252 -5.29101,4.3252h-69.45508l-8.31445,-74.1582l-0.16797,-0.50391c-2.05763,-6.71875 -8.31446,-11.3379 -15.36915,-11.3379zM86,21.5v21.5h-21.5v10.75h21.5v21.5h10.75v-21.5h21.5v-10.75h-21.5v-21.5z"></path></g></g></svg></button>
            </div>
        </div>
        <!-- Product 3 -->
        <div class="card col" style="max-width: 300px; margin: 2%">
            <center><img src="https://via.placeholder.com/250x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn" style="background-color: #667eea; color: white;">Ver <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="16" height="16"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g id="original-icon" fill="#ffffff"><path d="M112.875,10.75c-26.66504,0 -48.375,21.70996 -48.375,48.375c0,11.37989 4.11524,21.75196 10.75,30.02442l-53.49804,53.49804l7.55859,7.64258l53.54003,-53.54004c8.27247,6.63477 18.64453,10.75 30.02442,10.75c26.66504,0 48.375,-21.70996 48.375,-48.375c0,-26.66504 -21.70996,-48.375 -48.375,-48.375zM112.875,21.5c20.82813,0 37.625,16.79688 37.625,37.625c0,20.82813 -16.79687,37.625 -37.625,37.625c-20.82812,0 -37.625,-16.79687 -37.625,-37.625c0,-20.82812 16.79688,-37.625 37.625,-37.625z"></path></g></g></svg></button>
                <button class="btn" style="background-color: #667eea; color: white;">Agregar <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="16" height="16"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M10.75,10.75v10.75h21.5c2.30957,0 4.28321,1.51172 5.03906,3.69531l10.03614,89.52734c0.92382,8.14649 7.89453,14.31933 16.04101,14.31933c-5.45898,0.5879 -9.61621,5.20703 -9.61621,10.70801c0,5.9209 4.8291,10.75 10.75,10.75c5.9209,0 10.75,-4.8291 10.75,-10.75c0,-5.50098 -4.19922,-10.12011 -9.6582,-10.70801h51.52441c-5.45898,0.5879 -9.61621,5.20703 -9.61621,10.70801c0,5.9209 4.8291,10.75 10.75,10.75c5.9209,0 10.75,-4.8291 10.75,-10.75c0,-5.50098 -4.19922,-10.12011 -9.7002,-10.70801h9.7002v-10.75h-65.63379c-2.77148,0 -5.03906,-1.97362 -5.333,-4.74511l-0.67187,-6.04687h68.19531c7.64257,0 14.31933,-5.45898 15.83105,-12.93359l10.28808,-51.56641h-11.92578v4.87109l-8.90234,44.55371c-0.5459,2.56153 -2.6875,4.3252 -5.29101,4.3252h-69.45508l-8.31445,-74.1582l-0.16797,-0.50391c-2.05763,-6.71875 -8.31446,-11.3379 -15.36915,-11.3379zM86,21.5v21.5h-21.5v10.75h21.5v21.5h10.75v-21.5h21.5v-10.75h-21.5v-21.5z"></path></g></g></svg></button>
            </div>
        </div>
        <!-- Product 4 -->
        <div class="card col" style="max-width: 300px; margin: 2%">
            <center><img src="https://via.placeholder.com/250x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn" style="background-color: #667eea; color: white;">Ver <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="16" height="16"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g id="original-icon" fill="#ffffff"><path d="M112.875,10.75c-26.66504,0 -48.375,21.70996 -48.375,48.375c0,11.37989 4.11524,21.75196 10.75,30.02442l-53.49804,53.49804l7.55859,7.64258l53.54003,-53.54004c8.27247,6.63477 18.64453,10.75 30.02442,10.75c26.66504,0 48.375,-21.70996 48.375,-48.375c0,-26.66504 -21.70996,-48.375 -48.375,-48.375zM112.875,21.5c20.82813,0 37.625,16.79688 37.625,37.625c0,20.82813 -16.79687,37.625 -37.625,37.625c-20.82812,0 -37.625,-16.79687 -37.625,-37.625c0,-20.82812 16.79688,-37.625 37.625,-37.625z"></path></g></g></svg></button>
                <button class="btn" style="background-color: #667eea; color: white;">Agregar <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="16" height="16"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M10.75,10.75v10.75h21.5c2.30957,0 4.28321,1.51172 5.03906,3.69531l10.03614,89.52734c0.92382,8.14649 7.89453,14.31933 16.04101,14.31933c-5.45898,0.5879 -9.61621,5.20703 -9.61621,10.70801c0,5.9209 4.8291,10.75 10.75,10.75c5.9209,0 10.75,-4.8291 10.75,-10.75c0,-5.50098 -4.19922,-10.12011 -9.6582,-10.70801h51.52441c-5.45898,0.5879 -9.61621,5.20703 -9.61621,10.70801c0,5.9209 4.8291,10.75 10.75,10.75c5.9209,0 10.75,-4.8291 10.75,-10.75c0,-5.50098 -4.19922,-10.12011 -9.7002,-10.70801h9.7002v-10.75h-65.63379c-2.77148,0 -5.03906,-1.97362 -5.333,-4.74511l-0.67187,-6.04687h68.19531c7.64257,0 14.31933,-5.45898 15.83105,-12.93359l10.28808,-51.56641h-11.92578v4.87109l-8.90234,44.55371c-0.5459,2.56153 -2.6875,4.3252 -5.29101,4.3252h-69.45508l-8.31445,-74.1582l-0.16797,-0.50391c-2.05763,-6.71875 -8.31446,-11.3379 -15.36915,-11.3379zM86,21.5v21.5h-21.5v10.75h21.5v21.5h10.75v-21.5h21.5v-10.75h-21.5v-21.5z"></path></g></g></svg></button>
            </div>
        </div>
    </div>

    <hr style="margin: 5%; color: #F7F7F7;"/>

    <!-- Discount Products Cards-->
    <h2 class="user-select-none">Prendas en descuento</h2>

    <br />

    <div class="row align-items-center justify-content-center user-select-none">
        <!-- Product 1 -->
        <div class="card col" style="max-width: 300px; margin: 2%">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> -50% <span class="visually-hidden">Discount</span></span>
            <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn" style="background-color: #667eea; color: white;">Ver <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="16" height="16"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g id="original-icon" fill="#ffffff"><path d="M112.875,10.75c-26.66504,0 -48.375,21.70996 -48.375,48.375c0,11.37989 4.11524,21.75196 10.75,30.02442l-53.49804,53.49804l7.55859,7.64258l53.54003,-53.54004c8.27247,6.63477 18.64453,10.75 30.02442,10.75c26.66504,0 48.375,-21.70996 48.375,-48.375c0,-26.66504 -21.70996,-48.375 -48.375,-48.375zM112.875,21.5c20.82813,0 37.625,16.79688 37.625,37.625c0,20.82813 -16.79687,37.625 -37.625,37.625c-20.82812,0 -37.625,-16.79687 -37.625,-37.625c0,-20.82812 16.79688,-37.625 37.625,-37.625z"></path></g></g></svg></button>
                <button class="btn" style="background-color: #667eea; color: white;">Agregar <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="16" height="16"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M10.75,10.75v10.75h21.5c2.30957,0 4.28321,1.51172 5.03906,3.69531l10.03614,89.52734c0.92382,8.14649 7.89453,14.31933 16.04101,14.31933c-5.45898,0.5879 -9.61621,5.20703 -9.61621,10.70801c0,5.9209 4.8291,10.75 10.75,10.75c5.9209,0 10.75,-4.8291 10.75,-10.75c0,-5.50098 -4.19922,-10.12011 -9.6582,-10.70801h51.52441c-5.45898,0.5879 -9.61621,5.20703 -9.61621,10.70801c0,5.9209 4.8291,10.75 10.75,10.75c5.9209,0 10.75,-4.8291 10.75,-10.75c0,-5.50098 -4.19922,-10.12011 -9.7002,-10.70801h9.7002v-10.75h-65.63379c-2.77148,0 -5.03906,-1.97362 -5.333,-4.74511l-0.67187,-6.04687h68.19531c7.64257,0 14.31933,-5.45898 15.83105,-12.93359l10.28808,-51.56641h-11.92578v4.87109l-8.90234,44.55371c-0.5459,2.56153 -2.6875,4.3252 -5.29101,4.3252h-69.45508l-8.31445,-74.1582l-0.16797,-0.50391c-2.05763,-6.71875 -8.31446,-11.3379 -15.36915,-11.3379zM86,21.5v21.5h-21.5v10.75h21.5v21.5h10.75v-21.5h21.5v-10.75h-21.5v-21.5z"></path></g></g></svg></button>           
            </div>
        </div>
        <!-- Product 2 -->
        <div class="card col" style="max-width: 300px; margin: 2%">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> -75% <span class="visually-hidden">Discount</span></span>
            <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn" style="background-color: #667eea; color: white;">Ver <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="16" height="16"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g id="original-icon" fill="#ffffff"><path d="M112.875,10.75c-26.66504,0 -48.375,21.70996 -48.375,48.375c0,11.37989 4.11524,21.75196 10.75,30.02442l-53.49804,53.49804l7.55859,7.64258l53.54003,-53.54004c8.27247,6.63477 18.64453,10.75 30.02442,10.75c26.66504,0 48.375,-21.70996 48.375,-48.375c0,-26.66504 -21.70996,-48.375 -48.375,-48.375zM112.875,21.5c20.82813,0 37.625,16.79688 37.625,37.625c0,20.82813 -16.79687,37.625 -37.625,37.625c-20.82812,0 -37.625,-16.79687 -37.625,-37.625c0,-20.82812 16.79688,-37.625 37.625,-37.625z"></path></g></g></svg></button>
                <button class="btn" style="background-color: #667eea; color: white;">Agregar <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="16" height="16"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M10.75,10.75v10.75h21.5c2.30957,0 4.28321,1.51172 5.03906,3.69531l10.03614,89.52734c0.92382,8.14649 7.89453,14.31933 16.04101,14.31933c-5.45898,0.5879 -9.61621,5.20703 -9.61621,10.70801c0,5.9209 4.8291,10.75 10.75,10.75c5.9209,0 10.75,-4.8291 10.75,-10.75c0,-5.50098 -4.19922,-10.12011 -9.6582,-10.70801h51.52441c-5.45898,0.5879 -9.61621,5.20703 -9.61621,10.70801c0,5.9209 4.8291,10.75 10.75,10.75c5.9209,0 10.75,-4.8291 10.75,-10.75c0,-5.50098 -4.19922,-10.12011 -9.7002,-10.70801h9.7002v-10.75h-65.63379c-2.77148,0 -5.03906,-1.97362 -5.333,-4.74511l-0.67187,-6.04687h68.19531c7.64257,0 14.31933,-5.45898 15.83105,-12.93359l10.28808,-51.56641h-11.92578v4.87109l-8.90234,44.55371c-0.5459,2.56153 -2.6875,4.3252 -5.29101,4.3252h-69.45508l-8.31445,-74.1582l-0.16797,-0.50391c-2.05763,-6.71875 -8.31446,-11.3379 -15.36915,-11.3379zM86,21.5v21.5h-21.5v10.75h21.5v21.5h10.75v-21.5h21.5v-10.75h-21.5v-21.5z"></path></g></g></svg></button>
            </div>
        </div>
        <!-- Product 3 -->
        <div class="card col" style="max-width: 300px; margin: 2%">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> -20% <span class="visually-hidden">Discount</span></span>
            <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn" style="background-color: #667eea; color: white;">Ver <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="16" height="16"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g id="original-icon" fill="#ffffff"><path d="M112.875,10.75c-26.66504,0 -48.375,21.70996 -48.375,48.375c0,11.37989 4.11524,21.75196 10.75,30.02442l-53.49804,53.49804l7.55859,7.64258l53.54003,-53.54004c8.27247,6.63477 18.64453,10.75 30.02442,10.75c26.66504,0 48.375,-21.70996 48.375,-48.375c0,-26.66504 -21.70996,-48.375 -48.375,-48.375zM112.875,21.5c20.82813,0 37.625,16.79688 37.625,37.625c0,20.82813 -16.79687,37.625 -37.625,37.625c-20.82812,0 -37.625,-16.79687 -37.625,-37.625c0,-20.82812 16.79688,-37.625 37.625,-37.625z"></path></g></g></svg></button>
                <button class="btn" style="background-color: #667eea; color: white;">Agregar <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="16" height="16"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M10.75,10.75v10.75h21.5c2.30957,0 4.28321,1.51172 5.03906,3.69531l10.03614,89.52734c0.92382,8.14649 7.89453,14.31933 16.04101,14.31933c-5.45898,0.5879 -9.61621,5.20703 -9.61621,10.70801c0,5.9209 4.8291,10.75 10.75,10.75c5.9209,0 10.75,-4.8291 10.75,-10.75c0,-5.50098 -4.19922,-10.12011 -9.6582,-10.70801h51.52441c-5.45898,0.5879 -9.61621,5.20703 -9.61621,10.70801c0,5.9209 4.8291,10.75 10.75,10.75c5.9209,0 10.75,-4.8291 10.75,-10.75c0,-5.50098 -4.19922,-10.12011 -9.7002,-10.70801h9.7002v-10.75h-65.63379c-2.77148,0 -5.03906,-1.97362 -5.333,-4.74511l-0.67187,-6.04687h68.19531c7.64257,0 14.31933,-5.45898 15.83105,-12.93359l10.28808,-51.56641h-11.92578v4.87109l-8.90234,44.55371c-0.5459,2.56153 -2.6875,4.3252 -5.29101,4.3252h-69.45508l-8.31445,-74.1582l-0.16797,-0.50391c-2.05763,-6.71875 -8.31446,-11.3379 -15.36915,-11.3379zM86,21.5v21.5h-21.5v10.75h21.5v21.5h10.75v-21.5h21.5v-10.75h-21.5v-21.5z"></path></g></g></svg></button>
            </div>
        </div>
        <!-- Product 4 -->
        <div class="card col" style="max-width: 300px; margin: 2%">
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> -10% <span class="visually-hidden">Discount</span></span>
            <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <button class="btn" style="background-color: #667eea; color: white;">Ver <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="16" height="16"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g id="original-icon" fill="#ffffff"><path d="M112.875,10.75c-26.66504,0 -48.375,21.70996 -48.375,48.375c0,11.37989 4.11524,21.75196 10.75,30.02442l-53.49804,53.49804l7.55859,7.64258l53.54003,-53.54004c8.27247,6.63477 18.64453,10.75 30.02442,10.75c26.66504,0 48.375,-21.70996 48.375,-48.375c0,-26.66504 -21.70996,-48.375 -48.375,-48.375zM112.875,21.5c20.82813,0 37.625,16.79688 37.625,37.625c0,20.82813 -16.79687,37.625 -37.625,37.625c-20.82812,0 -37.625,-16.79687 -37.625,-37.625c0,-20.82812 16.79688,-37.625 37.625,-37.625z"></path></g></g></svg></button>
                <button class="btn" style="background-color: #667eea; color: white;">Agregar <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="16" height="16"
                 viewBox="0 0 172 172"
                 style=" fill:#000000;">
                <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M10.75,10.75v10.75h21.5c2.30957,0 4.28321,1.51172 5.03906,3.69531l10.03614,89.52734c0.92382,8.14649 7.89453,14.31933 16.04101,14.31933c-5.45898,0.5879 -9.61621,5.20703 -9.61621,10.70801c0,5.9209 4.8291,10.75 10.75,10.75c5.9209,0 10.75,-4.8291 10.75,-10.75c0,-5.50098 -4.19922,-10.12011 -9.6582,-10.70801h51.52441c-5.45898,0.5879 -9.61621,5.20703 -9.61621,10.70801c0,5.9209 4.8291,10.75 10.75,10.75c5.9209,0 10.75,-4.8291 10.75,-10.75c0,-5.50098 -4.19922,-10.12011 -9.7002,-10.70801h9.7002v-10.75h-65.63379c-2.77148,0 -5.03906,-1.97362 -5.333,-4.74511l-0.67187,-6.04687h68.19531c7.64257,0 14.31933,-5.45898 15.83105,-12.93359l10.28808,-51.56641h-11.92578v4.87109l-8.90234,44.55371c-0.5459,2.56153 -2.6875,4.3252 -5.29101,4.3252h-69.45508l-8.31445,-74.1582l-0.16797,-0.50391c-2.05763,-6.71875 -8.31446,-11.3379 -15.36915,-11.3379zM86,21.5v21.5h-21.5v10.75h21.5v21.5h10.75v-21.5h21.5v-10.75h-21.5v-21.5z"></path></g></g></svg></button>
            </div>
        </div>
    </div>

</center>