@{
    ViewData["Title"] = "Home Page";
}

<div class="align-content-center">

    <hr style="margin: 5%; color: #F7F7F7;" />

    <div class="d-flex justify-content-center">

        <a href="/" target="_self" style="margin-right: 2%; margin-left: 2%;">
            <div class="card" style="width: 18rem;">
                <img src="https://via.placeholder.com/250x200/FFFFFF/00000?text=Categoria" class="card-img-top" alt="...">
                <div class="card-footer text-muted text-center" style="text-decoration: none;">
                    <span>Categoria</span>
                </div>
            </div>
        </a>

        <a href="/" target="_self" style="margin-right: 2%; margin-left: 2%;">
            <div class="card" style="width: 18rem;">
                <img src="https://via.placeholder.com/250x200/FFFFFF/00000?text=Categoria" class="card-img-top" alt="...">
                <div class="card-footer text-muted text-center" style="text-decoration: none;">
                    <span>Categoria</span>
                </div>
            </div>
        </a>

        <a href="/" target="_self" style="margin-right: 2%; margin-left: 2%;">
            <div class="card" style="width: 18rem;">
                <img src="https://via.placeholder.com/250x200/FFFFFF/00000?text=Categoria" class="card-img-top" alt="...">
                <div class="card-footer text-muted text-center" style="text-decoration: none;">
                    <span>Categoria</span>
                </div>
            </div>
        </a>

    </div>

    <hr style="margin: 2%; color: #F7F7F7;" />

    <div class="d-flex justify-content-center">

        <a href="/" target="_self" style="margin-right: 2%; margin-left: 2%;">
            <div class="card" style="width: 18rem;">
                <img src="https://via.placeholder.com/250x200/FFFFFF/00000?text=Categoria" class="card-img-top" alt="...">
                <div class="card-footer text-muted text-center" style="text-decoration: none;">
                    <span>Categoria</span>
                </div>
            </div>
        </a>

        <a href="/" target="_self" style="margin-right: 2%; margin-left: 2%;">
            <div class="card" style="width: 18rem;">
                <img src="https://via.placeholder.com/250x200/FFFFFF/00000?text=Categoria" class="card-img-top" alt="...">
                <div class="card-footer text-muted text-center" style="text-decoration: none;">
                    <span>Categoria</span>
                </div>
            </div>
        </a>

    </div>

    <hr style="margin: 5%; color: #F7F7F7;" />

    <!-- Discount Products Cards-->
    <h2 class="user-select-none">Los mas vendidos</h2>

    <div id="carouselExampleIndicators" class="carousel slide justify-content-center" data-bs-ride="carousel">
        <div class="carousel-inner">

            <div class="carousel-item active d-flex justify-content-center" style="background-color: #F7F7F7;">
                <!-- Product 1 -->
                <div class="card col" style="max-width: 300px; margin: 2%; min-width: 250px">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> -50% <span class="visually-hidden">Discount</span></span>
                    <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
                    <div class="card-body">
                        <span class="badge bg-danger">Mas vendido 1</span>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <!-- Product 2 -->
                <div class="card col" style="max-width: 300px; margin: 2%; min-width: 250px">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> -50% <span class="visually-hidden">Discount</span></span>
                    <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
                    <div class="card-body">
                        <span class="badge bg-danger">Mas vendido</span>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <!-- Product 3 -->
                <div class="card col" style="max-width: 300px; margin: 2%; min-width: 250px">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> -50% <span class="visually-hidden">Discount</span></span>
                    <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
                    <div class="card-body">
                        <span class="badge bg-danger">Mas vendido</span>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <!-- Product 3 -->
                <div class="card col" style="max-width: 300px; margin: 2%; min-width: 250px">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> -50% <span class="visually-hidden">Discount</span></span>
                    <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
                    <div class="card-body">
                        <span class="badge bg-danger">Mas vendido</span>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="carousel-item d-flex justify-content-center" style="background-color: #F7F7F7;">
                <!-- Product 4 -->
                <div class="card col" style="max-width: 300px; margin: 2%; min-width: 250px">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> -5% <span class="visually-hidden">Discount</span></span>
                    <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
                    <div class="card-body">
                        <span class="badge bg-danger">Mas vendido 2</span>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <!-- Product 5 -->
                <div class="card col" style="max-width: 300px; margin: 2%; min-width: 250px">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> -50% <span class="visually-hidden">Discount</span></span>
                    <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
                    <div class="card-body">
                        <span class="badge bg-danger">Mas vendido</span>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <!-- Product 6 -->
                <div class="card col" style="max-width: 300px; margin: 2%; min-width: 250px">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> -70% <span class="visually-hidden">Discount</span></span>
                    <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
                    <div class="card-body">
                        <span class="badge bg-danger">Mas vendido</span>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <div class="carousel-item d-flex justify-content-center" style="background-color: #F7F7F7;">
                <!-- Product 4 -->
                <div class="card col" style="max-width: 300px; margin: 2%; min-width: 250px">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> -5% <span class="visually-hidden">Discount</span></span>
                    <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
                    <div class="card-body">
                        <span class="badge bg-danger">Mas vendido 3</span>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <!-- Product 5 -->
                <div class="card col" style="max-width: 300px; margin: 2%; min-width: 250px">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> -50% <span class="visually-hidden">Discount</span></span>
                    <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
                    <div class="card-body">
                        <span class="badge bg-danger">Mas vendido</span>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
                <!-- Product 6 -->
                <div class="card col" style="max-width: 300px; margin: 2%; min-width: 250px">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"> -70% <span class="visually-hidden">Discount</span></span>
                    <center><img src="https://via.placeholder.com/200x200/FFFFFF/00000?text=Product" alt="Alternate Text" class="container-fluid" /></center>
                    <div class="card-body">
                        <span class="badge bg-danger">Mas vendido</span>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span data-bs-slide="prev" class="btn btn-outline-secondary btn-sm">&#10094;</span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span data-bs-slide="next" class="btn btn-outline-secondary btn-sm">&#10095;</span>
                <span class="visually-hidden">Next</span>
            </button>

        </div>
    </div>
</div>